.collections {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
  @media screen and (max-width: $tablet) {
    gap: 8px;
  }
}

.collections__item {
  flex: 1;
  padding: 8px;
  position: relative;
  border-radius: $border-radius;
  background: $color-main;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: background .24s;
  overflow: hidden;
  &:hover {
    background: $color-main-hover;

    .collections__item-icon {
      transform: translateY(-4px);
    }
  }
  @media screen and (max-width: $mobile) {
    flex: 100px;
  }
}

.collections__item-icon {
  max-width: 88px;
  max-height: 56px;
  display: block;
  margin: 0 auto;
  fill: #fff;
  transition: .24s;
  transform: translateY(0);
  @media screen and (max-width: $mobile) {
    max-width: 72px;
    max-height: 48px;
  }
}

.collections__item-title {
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: $mobile) {
    font-size: 13px;
    margin-top: 4px;
  }
}



.collection-alternative{
  margin-top: 10px;
}
.collection-alternative_line{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.collection-alternative_item{
  margin-bottom: 10px;
  width: calc(50% - 8px);
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  transition: .24s;
  position: relative;
  border-radius: 30px;
  @media screen and (max-width: $mobile){
    width: calc(50% - 8px);
    margin-bottom: 16px;
  }
  &:after{
    transition: .24s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $black;
    opacity: .48;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &:hover{
    &:after{
      opacity: .32;
    }
    .image{
      transform: scale(1.05);
    }
  }
}
.collection-alternative_title{
  color: #fff;
  position: absolute;
  top: 16px;
  // left: 16px;
  right: 22px;
  font-weight: 600;
  font-size: 18px;
  z-index: 3;
  transition: .24s;
  text-decoration: overline;
  text-decoration-color: $color-main;
  text-decoration-thickness: 2px;  
  
}
.collection-alternative_image{
  transition: .24s;
  width: 100%;
  position: relative;
  z-index: 1;
  height: auto;
  aspect-ratio: 4/4;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(0.9);
  border-radius: 5px;
}