.offer__title{
  text-decoration: none;
  color: $black;
  &.offer__title--long{
    font-size: 18px;
    padding-top: 8px;
    font-weight: bold;
  }
  &.offer__title--short{
    padding: 0 2px;
    font-size: 18px;
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 100%;
    padding-top: 5px;
    flex-wrap: wrap;
  }
  &.offer__title--small{
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    padding: 8px;
  }
}
.offer__title-mark{
  font-size: 1em;
  font-weight: bold;
}
.offer__title-folder {
  font-size: 1em;
  font-weight: bold;
}
//.offer__title-newline{
//  position: absolute;
//  right: 0;
//  padding: 8px;
//  top: 0;
//  gap: 6px;
//}
.offer_year{
  font-size: 1em;
}
.offer__title-power{
  font-size: 1em;
}