.h1__title{
  margin: 8px 0;
  font-size: 20px;
  &.h1__title--no-mb{
    margin: 8px 0 0;
  }
  &.h1__title--hidden{
    opacity: 0;
    height: 0;
    position: absolute;
    top: -999px;
  }
  @media screen and (max-width: $mobile){
    font-size: 16px;
   }
}

.h2__title{
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
  font-weight: bold;
  color: $black;
  .count{
    color: $color-main;
    text-decoration: none;
  }
  @media screen and (max-width: $desktop){
   font-size: 20px;
  }
  &.h2__title--no-margin-top{
    margin: 0 0 16px;
  }
  &.h2__title--white{
    color: #fff;
  }
  @media screen and (max-width: $mobile) {
    font-size: 14px;
    margin: 10px 0;
  }
}
.not-found__title{
  font-size: 26px;
  font-weight: bold;
  color: $black;
  animation: not-found 2s ease-in-out;
}

@keyframes not-found {
  0% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

.h3__title{
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 8px 0;
  &.h3__title-top-8{
    margin: 8px 0;
  }
}

.sub__title{
  font-size: 16px;
  margin-bottom: 16px;
  color: $black;
  &.sub__title--white{
    color: #fff;
  }
}
.text__p ,.text__ul{
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  @media screen and (max-width: $desktop){
   font-size: 14px;
    line-height: 18px;
  }
  a{
    color: $blue;
  }
}
.text__ul{
  padding: 10px;
   list-style: none;
  li{
    margin-left: 2px;
  }
}